.cloudHead {
  /* background-color: #ffffff; */
  /* padding: 20px; */
  position: fixed;
  display: flex;
  width: 100vw;
  max-width: 100vw;
  justify-content: center;
  align-content: flex-end;
  z-index: 50;
}

.smallTitle {
  background: linear-gradient(160deg, #ffffff 60%, transparent 100%);
  border-top-right-radius: 10% 20%;
  border-bottom-right-radius: 80%;
  border-bottom-left-radius: 20% 10%;
  position: fixed;
  /* padding: 0.8rem 1.5rem 1.5rem 0.8rem; */
  width: 160px;
  height: 70px;
  z-index: 20;
}

.smallMenu {
  background: linear-gradient(-160deg, #ffffff 60%, transparent 100%);
  border-top-left-radius: 10% 20%;
  border-bottom-left-radius: 80%;
  border-bottom-right-radius: 20% 10%;
  position: fixed;
  padding: 0.8rem 0.8rem 1.5rem 1.5rem;
  z-index: 20;
  right: 0;
}

.clouds {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  gap: 1rem;
  overflow: hidden;
  mask: var(--gradientMask);
  /* background: linear-gradient(to right, rgb(100, 100, 0), rgb(0, 200, 200)); */
}

.clipPath {
  clip-path: path(
    'M0.03,0.731 C0.015,0.731,0.001,0.684,-0.009,0.611 L-0.01,0.606 L-0.01,0.07 L-0.009,0.065 C-0.009,0.065,-0.009,0.065,-0.009,0.065 L-0.01,0.07 L-0.01,-0.127 L0.99,-0.127 L0.99,0.399 L0.99,0.399 L0.99,0.625 L0.989,0.63 C0.98,0.69,0.967,0.729,0.954,0.729 C0.941,0.729,0.93,0.699,0.921,0.651 C0.91,0.739,0.892,0.79,0.871,0.79 C0.853,0.79,0.838,0.749,0.826,0.686 C0.816,0.79,0.801,0.849,0.782,0.849 C0.768,0.849,0.756,0.814,0.747,0.758 C0.743,0.771,0.738,0.778,0.733,0.778 C0.725,0.778,0.717,0.758,0.711,0.724 C0.702,0.786,0.69,0.826,0.676,0.826 C0.667,0.826,0.659,0.81,0.652,0.783 C0.643,0.832,0.632,0.861,0.619,0.861 C0.607,0.861,0.596,0.832,0.586,0.783 C0.579,0.828,0.57,0.849,0.559,0.849 C0.548,0.849,0.538,0.82,0.53,0.772 C0.521,0.831,0.509,0.861,0.495,0.861 C0.486,0.861,0.478,0.845,0.47,0.817 C0.467,0.829,0.464,0.838,0.46,0.838 C0.455,0.838,0.451,0.824,0.448,0.803 C0.439,0.847,0.428,0.873,0.415,0.873 C0.404,0.873,0.394,0.852,0.386,0.816 C0.378,0.847,0.369,0.861,0.36,0.861 C0.347,0.861,0.336,0.831,0.327,0.782 C0.32,0.82,0.312,0.838,0.303,0.838 C0.295,0.838,0.289,0.824,0.282,0.8 C0.274,0.846,0.263,0.873,0.251,0.873 C0.236,0.873,0.224,0.835,0.214,0.773 C0.209,0.784,0.204,0.79,0.199,0.79 C0.187,0.79,0.177,0.765,0.169,0.725 C0.164,0.737,0.16,0.742,0.154,0.742 C0.147,0.742,0.141,0.731,0.136,0.713 C0.126,0.796,0.111,0.849,0.094,0.849 C0.077,0.849,0.061,0.79,0.051,0.699 C0.045,0.72,0.038,0.731,0.03,0.731'
  );
  /* clip-path: path(
    "M 15.368 40.799 C 7.579 40.799 0.385 38.179 -4.646 34.117 L -5.014 33.82 L -5.014 3.919 L -4.646 3.619 C -4.642 3.616 -4.639 3.613 -4.635 3.61 L -5.004 3.91 L -5.004 -7.067 L 506.996 -7.067 L 506.996 22.267 L 506.979 22.267 L 506.979 34.86 L 506.556 35.156 C 501.746 38.523 495.227 40.653 488.231 40.653 C 481.806 40.653 476.3 39.011 471.743 36.34 C 465.911 41.239 456.772 44.067 446 44.067 C 436.695 44.067 428.87 41.818 423.039 38.281 C 418.032 44.086 409.948 47.4 400.333 47.4 C 393.363 47.4 387.221 45.441 382.388 42.297 C 380.192 42.998 377.953 43.4 375.333 43.4 C 370.974 43.4 367.278 42.269 364.002 40.4 C 359.315 43.863 353.174 46.067 346 46.067 C 341.435 46.067 337.418 45.185 333.79 43.682 C 329.138 46.399 323.452 48.067 317 48.067 C 310.536 48.067 304.909 46.413 300.265 43.714 C 296.323 46.182 291.744 47.4 286.333 47.4 C 280.447 47.4 275.437 45.74 271.414 43.092 C 266.537 46.38 260.617 48.067 253.667 48.067 C 248.836 48.067 244.535 47.143 240.674 45.565 C 239.18 46.285 237.598 46.733 235.667 46.733 C 233.158 46.733 231.161 45.988 229.375 44.82 C 224.804 47.239 219.187 48.733 212.667 48.733 C 206.856 48.733 201.712 47.528 197.395 45.537 C 193.425 47.239 189.186 48.067 184.333 48.067 C 177.823 48.067 172.138 46.383 167.473 43.641 C 163.793 45.739 159.764 46.733 155 46.733 C 151.113 46.733 147.715 45.961 144.606 44.646 C 140.046 47.184 134.553 48.733 128.333 48.733 C 121.044 48.733 114.61 46.578 109.685 43.154 C 107.158 43.74 104.598 44.067 101.667 44.067 C 95.884 44.067 90.687 42.714 86.303 40.469 C 83.917 41.129 81.671 41.4 79 41.4 C 75.425 41.4 72.397 40.812 69.516 39.796 C 64.4 44.389 56.977 47.4 48.333 47.4 C 39.23 47.4 31.457 44.059 26.343 39.029 C 22.993 40.153 19.472 40.799 15.368 40.799 Z"
  ); */
}

.cloudBox {
  position: fixed;
  width: 100%;
  height: 200px;
  background-color: #ff0000;
  clip-path: path(
    'M 15.368 40.799 C 7.579 40.799 0.385 38.179 -4.646 34.117 L -5.014 33.82 L -5.014 3.919 L -4.646 3.619 C -4.642 3.616 -4.639 3.613 -4.635 3.61 L -5.004 3.91 L -5.004 -7.067 L 506.996 -7.067 L 506.996 22.267 L 506.979 22.267 L 506.979 34.86 L 506.556 35.156 C 501.746 38.523 495.227 40.653 488.231 40.653 C 481.806 40.653 476.3 39.011 471.743 36.34 C 465.911 41.239 456.772 44.067 446 44.067 C 436.695 44.067 428.87 41.818 423.039 38.281 C 418.032 44.086 409.948 47.4 400.333 47.4 C 393.363 47.4 387.221 45.441 382.388 42.297 C 380.192 42.998 377.953 43.4 375.333 43.4 C 370.974 43.4 367.278 42.269 364.002 40.4 C 359.315 43.863 353.174 46.067 346 46.067 C 341.435 46.067 337.418 45.185 333.79 43.682 C 329.138 46.399 323.452 48.067 317 48.067 C 310.536 48.067 304.909 46.413 300.265 43.714 C 296.323 46.182 291.744 47.4 286.333 47.4 C 280.447 47.4 275.437 45.74 271.414 43.092 C 266.537 46.38 260.617 48.067 253.667 48.067 C 248.836 48.067 244.535 47.143 240.674 45.565 C 239.18 46.285 237.598 46.733 235.667 46.733 C 233.158 46.733 231.161 45.988 229.375 44.82 C 224.804 47.239 219.187 48.733 212.667 48.733 C 206.856 48.733 201.712 47.528 197.395 45.537 C 193.425 47.239 189.186 48.067 184.333 48.067 C 177.823 48.067 172.138 46.383 167.473 43.641 C 163.793 45.739 159.764 46.733 155 46.733 C 151.113 46.733 147.715 45.961 144.606 44.646 C 140.046 47.184 134.553 48.733 128.333 48.733 C 121.044 48.733 114.61 46.578 109.685 43.154 C 107.158 43.74 104.598 44.067 101.667 44.067 C 95.884 44.067 90.687 42.714 86.303 40.469 C 83.917 41.129 81.671 41.4 79 41.4 C 75.425 41.4 72.397 40.812 69.516 39.796 C 64.4 44.389 56.977 47.4 48.333 47.4 C 39.23 47.4 31.457 44.059 26.343 39.029 C 22.993 40.153 19.472 40.799 15.368 40.799 Z'
  );
}

.header {
  top: -3vw;
  width: 100%;
  /* height: 8rem; */
}

.gradientMask {
  background: linear-gradient(#ffffff, #ff0000);
}
