.cloudHead {
  /* background-color: #ffffff; */
  /* padding: 20px; */
  position: fixed;
  display: flex;
  width: 100vw;
  max-width: 100vw;
  justify-content: center;
  align-content: flex-end;
  z-index: 50;
}

.smallTitle {
  background: linear-gradient(160deg, #ffffff 60%, transparent 100%);
  border-top-right-radius: 10% 20%;
  border-bottom-right-radius: 80%;
  border-bottom-left-radius: 20% 10%;
  position: fixed;
  padding: 0.8rem 1.5rem 1.5rem 0.8rem;
  z-index: 50;
}

.smallMenu {
  background: linear-gradient(-160deg, #ffffff 60%, transparent 100%);
  border-top-left-radius: 10% 20%;
  border-bottom-left-radius: 80%;
  border-bottom-right-radius: 20% 10%;
  position: fixed;
  padding: 0.8rem 0.8rem 1.5rem 1.5rem;
  z-index: 50;
  right: 0;
}

.customClipPath {
  clip-path: path(
    "M 15.667 39.733 C 0.75 39.733 -11.333 30.336 -11.333 18.733 C -11.333 7.131 0.75 -2.267 15.667 -2.267 C 30.584 -2.267 42.667 7.131 42.667 18.733 C 42.667 30.336 30.584 39.733 15.667 39.733 Z M 48.333 46.4 C 33.416 46.4 21.333 37.002 21.333 25.4 C 21.333 13.798 33.416 4.4 48.333 4.4 C 63.25 4.4 75.333 13.798 75.333 25.4 C 75.333 37.002 63.25 46.4 48.333 46.4 Z M 79 40.4 C 66.661 40.4 56.667 32.494 56.667 22.733 C 56.667 12.973 66.661 5.067 79 5.067 C 91.339 5.067 101.333 12.973 101.333 22.733 C 101.333 32.494 91.339 40.4 79 40.4 Z M 101.667 43.067 C 86.75 43.067 74.667 33.669 74.667 22.067 C 74.667 10.464 86.75 1.067 101.667 1.067 C 116.584 1.067 128.667 10.464 128.667 22.067 C 128.667 33.669 116.584 43.067 101.667 43.067 Z M 128.333 47.733 C 113.416 47.733 101.333 38.336 101.333 26.733 C 101.333 15.131 113.416 5.733 128.333 5.733 C 143.25 5.733 155.333 15.131 155.333 26.733 C 155.333 38.336 143.25 47.733 128.333 47.733 Z M 155 45.733 C 142.661 45.733 132.667 37.231 132.667 26.733 C 132.667 16.236 142.661 7.733 155 7.733 C 167.339 7.733 177.333 16.236 177.333 26.733 C 177.333 37.231 167.339 45.733 155 45.733 Z M 184.333 47.067 C 169.416 47.067 157.333 37.669 157.333 26.067 C 157.333 14.464 169.416 5.067 184.333 5.067 C 199.25 5.067 211.333 14.464 211.333 26.067 C 211.333 37.669 199.25 47.067 184.333 47.067 Z M 212.667 47.733 C 198.302 47.733 186.667 39.976 186.667 30.4 C 186.667 20.824 198.302 13.067 212.667 13.067 C 227.031 13.067 238.667 20.824 238.667 30.4 C 238.667 39.976 227.031 47.733 212.667 47.733 Z M 235.667 45.733 C 229.958 45.733 225.333 41.109 225.333 35.4 C 225.333 29.691 229.958 25.067 235.667 25.067 C 241.376 25.067 246 29.691 246 35.4 C 246 41.109 241.376 45.733 235.667 45.733 Z M 253.667 47.067 C 238.75 47.067 226.667 37.669 226.667 26.067 C 226.667 14.464 238.75 5.067 253.667 5.067 C 268.584 5.067 280.667 14.464 280.667 26.067 C 280.667 37.669 268.584 47.067 253.667 47.067 Z M 286.333 46.4 C 273.994 46.4 264 38.494 264 28.733 C 264 18.973 273.994 11.067 286.333 11.067 C 298.672 11.067 308.667 18.973 308.667 28.733 C 308.667 38.494 298.672 46.4 286.333 46.4 Z M 317 47.067 C 302.083 47.067 290 37.669 290 26.067 C 290 14.464 302.083 5.067 317 5.067 C 331.917 5.067 344 14.464 344 26.067 C 344 37.669 331.917 47.067 317 47.067 Z M 346 45.067 C 332.004 45.067 320.667 36.116 320.667 25.067 C 320.667 14.017 332.004 5.067 346 5.067 C 359.996 5.067 371.333 14.017 371.333 25.067 C 371.333 36.116 359.996 45.067 346 45.067 Z M 375.333 42.4 C 363.915 42.4 354.667 33.748 354.667 23.067 C 354.667 12.385 363.915 3.733 375.333 3.733 C 386.751 3.733 396 12.385 396 23.067 C 396 33.748 386.751 42.4 375.333 42.4 Z M 400.333 46.4 C 385.416 46.4 373.333 37.002 373.333 25.4 C 373.333 13.798 385.416 4.4 400.333 4.4 C 415.25 4.4 427.333 13.798 427.333 25.4 C 427.333 37.002 415.25 46.4 400.333 46.4 Z M 446 43.067 C 428.689 43.067 414.667 34.713 414.667 24.4 C 414.667 14.087 428.689 5.733 446 5.733 C 463.311 5.733 477.333 14.087 477.333 24.4 C 477.333 34.713 463.311 43.067 446 43.067 Z M 488.333 39.733 C 473.785 39.733 462 30.485 462 19.067 C 462 7.649 473.785 -1.6 488.333 -1.6 C 502.882 -1.6 514.667 7.649 514.667 19.067 C 514.667 30.485 502.882 39.733 488.333 39.733 Z M -4.004 -6.067 L 505.996 -6.067 L 505.996 21.267 L -4.004 21.267 L -4.004 -6.067 Z"
  );
}

.clouds {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  gap: 1rem;
  overflow: hidden;
  mask: var(--gradientMask);
  /* background: linear-gradient(to right, rgb(100, 100, 0), rgb(0, 200, 200)); */
}

.header {
  top: -3vw;
  width: 100%;
  /* height: 8rem; */
}

.gradientMask {
  background: linear-gradient(#ffffff, #ff0000);
}
